html,
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ADD8E6, #4089d6);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#imgAdminLogo,
#imgLogo {
  height: 5rem;
}

input[type="email"].form-control {
  min-width: 250px;
}

#userForm,
#deleteConfirmationModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

#login-container,
#register-container {
  max-width: 600px;
  border: 2px solid #4089d6;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;
}

.form-label {
  font-weight: bold;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.card-img-top {
  max-height: 29.4rem;
  object-fit: cover;
}